<div class="left">
  <div class="dials">
    <div class="drap mu">
      <div class="dial mu">
        <div class="ring" ng-class="{ 'spin' : mode === 'mu' }"></div>
        <div class="bg"></div>
        <div class="pie" qmimo-border-fill="mu"></div>
        <div class="mode">MU</div>
        <div class="desc"><strong>MULTI</strong>-USER</div>
        <div class="tot">
          <div>{{ mu_total | number: roundtotals }}</div>
          <small>Mbps</small>
        </div>
      </div>
    </div>
    <div class="drap su">
      <div class="dial su">
        <div class="ring" ng-class="{ 'spin' : mode === 'su' }"></div>
        <div class="bg"></div>
        <div class="pie" qmimo-border-fill="su"></div>
        <div class="mode">SU</div>
        <div class="desc"><strong>SINGLE</strong>-USER</div>
        <div class="tot">
          <div>{{ su_total | number: roundtotals }}</div>
          <small>Mbps</small>
        </div>
      </div>
    </div>
    <div class="switches">
      <label class="control radio mu" ng-class="{ 'blink' : mode === 'mu' }">
        <input id="mumode" name="mode" type="radio" value="mu" ng-model="mode" ng-click="switchModeTo('mu')">
        <span class="control-indicator"></span>
        On
      </label>
      <button class="switch" ng-click="switchMode()" ng-class="{ 'l' : switchleft }"></button>
      <label class="control radio su" ng-class="mode === 'su' ? 'blink' : ''">
        <input id="sumode" name="mode" type="radio" value="su" ng-model="mode" ng-click="switchModeTo('su')">
        <span class="control-indicator"></span>
        Off
      </label>
    </div>
  </div>
  <div class="gain">
    <div class="lbl"><strong>MU</strong> Gain</div>
    <div class="num">{{ mu_gain | number: roundgain }}</div>
  </div>
  <div class="devices">
    <div class="devicerow" ng-repeat="device in devices" ng-class="'d'+ $index">
      <div class="inner">
        <label class="control radio mu" ng-class="mode === 'mu' ? 'blink' : ''">
          <input type="radio" ng-disabled="true" ng-checked="mode === 'mu'">
          <span class="control-indicator"></span>
          MU
        </label>
        <div class="tput mu"><strong>{{device[1]}}</strong>&nbsp;<small>Mbps</small></div>
        <div class="dnum">{{device[0]}}</div>
        <div class="tput su"><strong>{{device[2]}}</strong>&nbsp;<small>Mbps</small></div>
        <label class="control radio su" ng-class="mode === 'su' ? 'blink' : ''">
          <input type="radio" ng-disabled="true" ng-checked="mode == 'su'">
          <span class="control-indicator"></span>
          SU
        </label>
      </div>
    </div>
  </div>
  <div class="logo">
    <div class="icn">MU</div>
    <div class="title">Qualcomm<sup>&reg;</sup> MU | EFX</div>
    <div class="byline">Experience the effects of ultimate 11ac</div>
  </div>
</div>
<div class="main" ng-class="'devices-' + devicenum">
  <div class="devices"><!-- hardcoded 4 or 6 devices for quick now --></div>
  <div class="lines"></div>
  <div class="router">
    <div class="bg" ng-click="switchMode()">
      <div class="circle"</div>
      <div class="icon"></div>
    </div>
  </div>
</div>