<div class="right">
  <!-- At Home -->
  <div class="rbtn athome" ng-click="openHomeBtn('athome')" ng-class="{'active' : openedhbtn == 'athome'}">
    <div class="border"></div>
    <div class="layover"></div>
    <a href="#" class="dbx mu">
      <span class="lbl"><strong>MU</strong> Demo</span>
    </a>
    <a href="#" class="dbx tb">
      <span class="lbl"><strong>TB</strong> Demo</span>
    </a>
    <div class="txt">
      <div class="dot"></div>
      <div class="lbl">At Home</div>
    </div>
  </div>
  <!-- On the Go -->
  <div class="rbtn onthego" ng-click="openHomeBtn('onthego')" ng-class="{'active' : openedhbtn == 'onthego'}">
    <div class="border"></div>
    <div class="layover"></div>
    <a href="#" class="dbx mu">
      <span class="lbl"><strong>MU</strong> Demo</span>
    </a>
    <a href="#" class="dbx tb">
      <span class="lbl"><strong>TB</strong> Demo</span>
    </a>
    <div class="txt">
      <div class="dot"></div>
      <div class="lbl">On the Go</div>
    </div>
  </div>
  <!-- At the Office -->
  <div class="rbtn office" ng-click="openHomeBtn('office')" ng-class="{'active' : openedhbtn == 'office'}">
    <div class="border"></div>
    <div class="layover"></div>
    <a href="#" class="dbx mu">
      <span class="lbl"><strong>MU</strong> Demo</span>
    </a>
    <a href="#" class="dbx tb">
      <span class="lbl"><strong>TB</strong> Demo</span>
    </a>
    <div class="txt">
      <div class="dot"></div>
      <div class="lbl">At the Office</div>
    </div>
  </div>
</div>