<div class="left">
  <div class="dials">
    <!-- SU SINGLE-USER -->
    <div class="col su">
      <div class="drap su">
        <div class="dial su">
          <div class="pie" qmimo-border-fill="su"></div>
          <div class="mode">SU</div>
          <div class="desc">SINGLE-USER</div>
          <div class="tot">
            <div class="t"><span ng-show="su_total > 0">{{ su_total | number: roundtotals }}</span></div>
            <small ng-show="su_total > 0">MBPS</small>
            <div class="fx"></div>
          </div>
        </div>
      </div>
      <div class="switches">
        <div class="inner">
          <label class="control radio lbl-off">
            <input id="sumode-off" name="sumode" type="radio" value="mu" ng-model="mode" ng-click="switchModeTo('mu')">
            <span class="control-indicator"></span>
            Off
          </label>
          <button class="switch" ng-click="switchModeToggle('su')" ng-class="{ 'r' : switchsuon }"></button>
          <label class="control radio lbl-on">
            <input id="sumode-on" name="sumode" type="radio" value="su" ng-model="mode" ng-click="switchModeTo('su')">
            <span class="control-indicator"></span>
            On
          </label>
        </div>
      </div>
      <div class="gain mg">
        <div class="num">standard</div>
      </div>
    </div>
    <!-- MU MULTI-USER -->
    <div class="col mu">
      <div class="drap mu">
        <div class="dial mu">
          <div class="pie" qmimo-border-fill="mu"></div>
          <div class="mode">MU</div>
          <div class="desc">MULTI-USER</div>
          <div class="tot">
            <div class="t"><span ng-show="mu_total > 0">{{ mu_total | number: roundtotals }}</span></div>
            <small ng-show="mu_total > 0">MBPS</small>
            <div class="fx"></div>
          </div>
        </div>
      </div>
      <div class="switches">
        <div class="inner">
          <label class="control radio lbl-off">
            <input id="mumode-off" name="mumode" type="radio" value="su" ng-model="mode" ng-click="switchModeTo('su')">
            <span class="control-indicator"></span>
            Off
          </label>
          <button class="switch" ng-click="switchModeToggle('mu')" ng-class="{ 'r' : switchmuon }"></button>
          <label class="control radio lbl-on">
            <input id="mumode-on" name="mumode" type="radio" value="mu" ng-model="mode" ng-click="switchModeTo('mu')">
            <span class="control-indicator"></span>
            On
          </label>
        </div>
      </div>
      <div class="gain mg">
        <div class="num"><span ng-show="( mu_total > 0 ) || ( su_total > 0 )"><strong>{{ mu_gain | number: roundgain }}</strong> Gain</span></div>
      </div>
    </div>
    <!-- TB TRI-BAND -->
    <div class="col tb" ng-name="tbmode">
      <div class="drap tb">
        <div class="dial tb">
          <div class="pie" qmimo-border-fill="tb"></div>
          <div class="mode">TRI-BAND</div>
          <div class="desc">60GHz</div>
          <div class="tot">
            <div class="t" ng-show="tbmode"><span ng-show="tb_total > 0">{{ tb_total | number: roundtotals }}</span></div>
            <small ng-show="tbmode && ( tb_total > 0 )">MBPS</small>
            <div class="fx"></div>
          </div>
        </div>
      </div>
      <div class="switches">
        <div class="inner">
          <label class="control radio lbl-off">
            <input id="tbmode-off" name="tbmode" type="radio" value="false" ng-model="tbmode" ng-click="switchTBMode(false)">
            <span class="control-indicator"></span>
            Off
          </label>
          <button class="switch" ng-click="toggleTB()" ng-class="{ 'r' : tbmode == true }"></button>
          <label class="control radio lbl-on">
            <input id="tbmode-on" name="tbmode" type="radio" value="true" ng-model="tbmode" ng-click="switchTBMode(true)">
            <span class="control-indicator"></span>
            On
          </label>
        </div>
      </div>
      <div class="gain mg">
        <div class="num"><span ng-show="tbmode && ( tb_total > 0 ) && ( ( mu_total > 0 ) || ( su_total > 0 ) )"><strong>{{ tb_gain | number: roundtbgain }}X</strong> Gain</span></div>
      </div>
    </div>
  </div>
  <div class="collapser">
    <div class="inner">
      <a class="arrow" ng-click="toggleDeviceNumbers()"><span class="arr"></span></a>
      Devices
    </div>
  </div>
  <div class="mg devices" ng-class="{ 'nolb' : hideLB }">
    <div class="devicerow" ng-repeat="device in devices" ng-class="'d'+ $index" ng-style="dheight">
      <div class="inner">
        <div class="dnum">{{device[0]}}</div>
        <div class="tput su"><span ng-show="shownumbers"><span ng-show="( device[1] > 0 ) || ( device[2] > 0 )"><strong>{{ device[2] | number: 0 }}</strong><small> mbps</small></span></span><span ng-show="( device[1] == 0 ) && ( device[2] == 0 )"><small>not connected</small></span></div>
        <div class="tput mu"><span ng-show="shownumbers"><span ng-show="( device[1] > 0 ) || ( device[2] > 0 )"><strong>{{ device[1] | number: 0 }}</strong><small> mbps</small></span></span><span ng-show="( device[1] == 0 ) && ( device[2] == 0 )"><small>not connected</small></span></div>
        <div class="tput tb"><span ng-show="shownumbers && tbmode"><span ng-show="device[3] > 0"><strong>{{ device[3] | number: 0 }}</strong><small> mbps</small></span><span ng-show="device[3] == 0"><small>not connected</small></span></span></div>
      </div>
    </div>
  </div>
</div>