/* q fonts */
@font-face {
    font-family: 'Qualcomm-Bold';
    src: url('fonts/QualcommWeb-Bold.eot');
    src: url('fonts/QualcommWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Bold.woff') format('woff'),
         url('fonts/QualcommWeb-Bold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Bold.svg#QualcommWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Light';
    src: url('fonts/QualcommWeb-Light.eot');
    src: url('fonts/QualcommWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Light.woff') format('woff'),
         url('fonts/QualcommWeb-Light.ttf') format('truetype'),
         url('fonts/QualcommWeb-Light.svg#QualcommWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Regular';
    src: url('fonts/QualcommWeb-Regular.eot');
    src: url('fonts/QualcommWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Regular.woff') format('woff'),
         url('fonts/QualcommWeb-Regular.ttf') format('truetype'),
         url('fonts/QualcommWeb-Regular.svg#QualcommWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Semibold';
    src: url('fonts/QualcommWeb-Semibold.eot');
    src: url('fonts/QualcommWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Semibold.woff') format('woff'),
         url('fonts/QualcommWeb-Semibold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Semibold.svg#QualcommWeb-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Qualcomm-Regular", sans-serif;
}
.dial .mode,
.gain .lbl strong {
  font-family: "Qualcomm-Bold", sans serif;
}
.dial .desc {
  font-family: "Qualcomm-Light", sans-serif;
}
.dial .desc strong,
.dial .tot,
.gain .num,
.devices .control,
.dnum,
.title,
.demo.switches {
  font-family: "Qualcomm-Semibold", sans-serif;
}
.dial .desc strong,
.gain .lbl strong {
  font-weight: normal;
}
/* colors */
body {
  color: #333;
}
.dial .tot {
  color: #474747;
}
body.mu-mode .tput.su,
body.mu-mode .control.su,
body.su-mode .tput.mu,
body.su-mode .control.mu,
body.loading .tput,
body.loading .control {
  color: #999;
}
.dial.mu .mode,
body.mu-mode .devices .control.mu,
.gain .num {
  color: #92278f;
}
.dial.mu .border {
  border-color: #92278f;
}
.dial.su .mode,
body.su-mode .devices .control.su {
  color: #f8991d;
}
.dial.su .border {
  border-color: #f8991d;
}
.gain .lbl {
  color: #fff;
}
body.mu-mode .dials .switches .control.mu,
body.su-mode .dials .switches .control.su,
.demo.switches .control.active {
  color: #000;
}
.title,
.byline {
  color: #414344;
}
/* gui layout? */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background: #464646;
}
/* wtf-forms */
.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  /*color: #555;*/
  cursor: pointer;
}
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}
.control-indicator {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width:  0.875rem;
  height: 0.8125rem;
  line-height: 0.8125rem;
  font-size: 65%;
  /*color: #eee;*/
  text-align: center;
  background: url(images/dots_small.png) no-repeat 0 0;
  background-size: cover;
  /*
  background-color: #eee;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-position: 0 -13px;
  /*background-color: #0074d9;*/
}
.control.su input:checked ~ .control-indicator {
  background-position: 0 -26px;
}
/* Active *
.control input:active ~ .control-indicator {
  color: #fff;
  /*background-color: #84c6ff;*/
}
/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%;
}
/*
.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}
*/
/* left column */
.left {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 268px;
  /* height: 100%; */
}
/* top left dials & switches */
.dials {
  background: url(images/bg_top.png) repeat-x 0 0;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 22%;
}
.drap {
  float: left;
  margin: 1.5% 0 0 4%;
  position: relative;
  max-width: 166px;
  width: 44%;
}
.drap.su {
  float: right;
  margin: 1.5% 4% 0 0;
}
.dial {
  width: 100%;
  margin: 0;
  position: relative;
}
.dial:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.dial .bg,
.dial .ring {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dial .bg {
  background: url(images/dial.png) no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
}
.dial .ring {
  background: url(images/ring_off.png) no-repeat 50% 50%;
  background-size: contain;
  z-index: 1;
}
.mu-mode .dial.mu .ring {
  background-image: url(images/ring_mu.png);
}
.su-mode .dial.su .ring {
  background-image: url(images/ring_su.png);
}
.pie {
  position: absolute;
  left: 9%;
  right: 9%;
  top: 9%;
  bottom: 9%;
  z-index: 3;
}
.pie .h {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  /*clip: rect(0px, 96px, 96px, 48px);*/
}
.h0 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie .border {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  /*clip: rect(0px, 48px, 96px, 0px);*/
  border: 6px solid;
  
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition: all 400ms linear;
}

/* then inner dial things */
.dial .mode,
.dial .desc,
.dial .tot {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}
.dial .mode {
  font-size: 19px;
  line-height: 1;
  top: 20%;
}
.dial .desc {
  top: 35%;
}
.dial .tot {
  top: 45%;
}
.dial .tot div {
  font-size: 26px;
  line-height: 1;
  position: relative;
  top: 0.22em;
}
.dial .tot small {
  position: relative;
  top: -0.2em;
}
.dial .desc,
.dial .tot small {
  font-size: 12px;
  line-height: 1;
}
.dials .switches {
  float: left;
  width: 100%;
}
.demo.switches {
  background: #fbfbfb; /* gradient? */
  height: 6.4%;
  padding: 0.7em 0 0;
  text-align: center;
}
.switches .control {
  line-height: 31px;
  vertical-align: middle;
}
.dials .switches .control {
  font-size: 14px;
  padding-left: 2rem;
}
.demo.switches .control {
  font-size: 16px;
}
.switches .control-indicator {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-image: url(images/dots_big.png);
}
.switches .control.su {
  padding-left: 0;
  padding-right: 2rem;
}
.switches .su .control-indicator {
  left: auto;
  right: 0;
}
.switches .control input:checked ~ .control-indicator {
  background-position: 0 -21px;
}
.switches .control.su input:checked ~ .control-indicator {
  background-position: 0 -42px;
}
.switch {
  background: url(images/switch.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  width: 61px;
  height: 31px;
  vertical-align: middle;
}
.switch.l {
  background-position: 0 -31px;
}
/* mu gain row */
.gain {
  background: url(images/bg_gain.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 6.4%;
}
.gain .lbl {
  line-height: 1;
  margin: -0.5em 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 46%;
  text-align: right;
}
.gain.mg .lbl {
  font-size: 1.375rem;
}
.gain.lb .lbl {
  font-size: 1.1875rem;
}
.gain .num {
  font-size: 1.5rem;
  line-height: 1;
  margin: -0.5em 0 0 0.75em;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
  text-align: center;
}
/* device tput data # rows */
.left .devices {
  border-bottom: 1px solid #efefef;
  display: block;
  overflow: hidden; /*-y: auto;*/
  width: 100%;
  height: 33%;
}
.left .devices.nolb {
  height: 50%;
  border-bottom: none;
}
.devicerow {
  background: url(images/bg_row.png) repeat-x 0 0;
  display: table;
  width: 100%;
  padding: 0.6em 0;
}
.nolb .devicerow {
  padding: 1.5em 0;
}
.devicerow .inner {
  display: table-row;
  width: 100%;
  height: 3em;
}
.devicerow .control,
.tput,
.dnum {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.devicerow .control {
  cursor: default;
  font-size: 15px;
  padding-left: 0;
  width: 36px;
}
.devicerow .control-indicator {
  margin-left: -0.5rem;
  left: 50%;
  top: 0;
}
.dnum {
  background: url(images/bg_circle.png) no-repeat 50% 50%;
  background-size: contain;
  font-size: 18px;
  text-align: center;
  width: 40px;
  height: inherit;
}
.tput {
  font-size: 17px;
  width: 76px;
}
.tput small {
  font-size: 13px;
}
/* bottom left logo */
.logo {
  background: url(images/bg_bottom.png) repeat-x 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16%;
}
.icn {
  background: url(images/icon_mu.png) no-repeat 50% 50%;
  background-size: contain;
  float: left;
  margin: 12% 2% 0 6%;
  text-indent: -999em;
  width: 20.5%;
  height: 46%;
}
.title {
  font-size: 20px;
  margin: 12% 0 0;
}
/* main right side */
.main {
  background: url(images/bg_room.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: 268px;
  right: 0;
  top: 0;
  bottom: 0;
  /*width: 80%;*/
}
/* just single images for rough now */
.lines,
.main .devices {
  background: url(images/devices5l.png) no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.main .devices.d4 {
  background-image: url(images/devices4.png);
}
.lines {
  background-image: none;
  z-index: 1;
}
/* static line image switch quick */
.mu-lines {
  background-image: url(images/lines/mu1-4.png);
}
.su-line-1 {
  background-image: url(images/lines/mu1.png);
}
.su-line-2 {
  background-image: url(images/lines/mu2.png);
}
.su-line-3 {
  background-image: url(images/lines/mu3.png);
}
.su-line-4 {
  background-image: url(images/lines/mu4.png);
}
.su-line-5 {
  background-image: url(images/lines/su5.png);
}
/*
.loading .lines {
  display: none;
}
*/
/* router icon itself */
.router {
  position: relative;
  left: 44%;
  top: 0;
  margin-top: 54%;
  z-index: 5;
}
.router .bg {
  background: url(images/router_bg.png) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  position: relative;
  width: 5%;
}
.router .bg:before {
  content: "";
  display: block;
  padding-top: 100%;
}
body.loading {
  cursor: progress;
}
.loading .switch,
.loading .switches .control,
.loading .router .bg {
  cursor: wait;
}
.circle {
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86%;
  height: 86%;
  margin: -43% 0 0 -43%;
  z-index: 6;
  
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.mu-mode .circle {
  background-color: #92278f;
}
.su-mode .circle {
  background-color: #f8991d;
}
.router .icon {
  background: url(images/router.png) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
}
/* responsive tweaking */
@media screen and (min-height: 960px) {
  .drap {
    margin: 4% 0 0 4%;
  }
  .drap.su {
    margin: 4% 4% 0 0;
  }
  .dial .mode {
    font-size: 27px;
  }
  .left .devices {
    height: 44%;
  }
  .devicerow {
    padding: 1.25em 0;
  }
  .devicerow .inner {
    height: 3.4em;
  }
  .tput {
    font-size: 24px;
  }
  .tput small {
    font-size: 14px;
  }
  .demo.switches {
    height: 5%;
  }
}
@media screen and (min-width:1600px) {
  .dials .switches .control.mu {
    padding-left: 3em;
  }
  .dials .switches .control.su {
    padding-right: 3em;
  }
  .switches .control-indicator {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
  .switches .control input:checked ~ .control-indicator {
    background-position: 0 -26px;
  }
  .switches .control.su input:checked ~ .control-indicator {
    background-position: 0 -52px;
  }
  .demo.switches .control {
    font-size: 20px;
  }
  .demo.switches .control.mu {
    padding-left: 2em;
  }
  .demo.switches .control.su {
    padding-right: 2em;
  }
  
  .gain.mg .lbl {
    font-size: 31px;
  }
  .gain.lb .lbl {
    font-size: 28px;
  }
  .gain .num {
    font-size: 33px;
    margin-left: 0.7em;
  }
  .title {
    font-size: 29px;
    margin: 15% 0 0;
  }
  .byline {
    position: relative;
    top: -4px;
  }
}
@media screen and (min-width:1600px) and (min-height:960px) {
  .dial .mode {
    font-size: 27px;
    margin-top: 4px;
  }
  .dial .desc {
    margin-top: 3px;
  }
  .dial .desc,
  .dial .tot small {
    font-size: 13px;
  }
  .dial .tot div {
    font-size: 32px;
    margin: 5px 0 3px;
  }
}

.tog {
  background: url(images/fx.gif) repeat 0 0;
  cursor: default;
  display: block;
  width: 41px;
  height: 41px;
  position: absolute;
  right: 0;
  z-index: 99;
}
.tog.num {
  right: 0;
  bottom: 0;
}
.tog.sim {
  top: 0;
  right: 0;
}
.tog.lbt {
  top: 0;
  left: 0;
}

/* animations */
.dial .ring {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.dial .ring.spin {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.blink .control-indicator {
  -webkit-animation: blink 1.4s linear infinite alternate;
  -moz-animation: blink 1.4s linear infinite alternate;
  animation: blink 1.4s linear infinite alternate;
}
.d0 .blink .control-indicator {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
}
.d1 .blink .control-indicator {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}
.d2 .blink .control-indicator {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}
.d3 .blink .control-indicator {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  animation-delay: 400ms;
}
.d4 .blink .control-indicator {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms;
}
.d5 .blink .control-indicator {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  animation-delay: 600ms;
}
.router .circle {
  -webkit-animation: routerblink 600ms linear infinite alternate;
  -moz-animation: routerblink 600ms linear infinite alternate;
  animation: routerblink 600ms linear infinite alternate;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.loading .router .circle {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.lines.blink {
  -webkit-animation: blink 800ms linear infinite alternate;
  -moz-animation: blink 800ms linear infinite alternate;
  animation: blink 800ms linear infinite alternate;
}
.lines.blink.su-line-5 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}
.lines.alt {
  -webkit-animation: alt 1.6s linear infinite backwards;
  -moz-animation: alt 1.6s linear infinite backwards;
  animation: alt 1.6s linear infinite backwards;
}
.lb-demo .lines.alt {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
/*
.mg-demo .lines.alt.su-line-2 {
  -webkit-animation-delay: 525ms;
  -moz-animation-delay: 525ms;
  animation-delay: 525ms;
}
.mg-demo .lines.alt.su-line-3 {
  -webkit-animation-delay: 1050ms;
  -moz-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.mg-demo .lines.alt.su-line-4 {
  -webkit-animation-delay: 1575ms;
  -moz-animation-delay: 1575ms;
  animation-delay: 1575ms;
}
*/
.lines.alt.su-line-2 {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  animation-delay: 400ms;
}
.lines.alt.su-line-3 {
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  animation-delay: 800ms;
}
.lines.alt.su-line-4 {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.lines.alt.su-line-5 {
  -webkit-animation-delay: 1600ms;
  -moz-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
/*
.lines.blink.su-line-5 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}
/* animation keyframes */
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  50% { -moz-transform: rotate(180deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }  
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
/* blink : partial fade in & out  */
@-webkit-keyframes blink {
  0%  { opacity: 1; }
  80%  { opacity: 1; }
  90%   { opacity: 0.6; }
  100%   { opacity: 0.6; }
}
@-moz-keyframes blink {
  0%  { opacity: 1; }
  80%  { opacity: 1; }
  90%   { opacity: 0.6; }
  100%   { opacity: 0.6; }
}
@keyframes blink {
  0%  { opacity: 1; }
  80%  { opacity: 1; }
  90%   { opacity: 0.6; }
  100%   { opacity: 0.6; }
}
/* routerblink : like blink but different  */
@-webkit-keyframes routerblink {
  0%  { opacity: 1; }
  30%   { opacity: 1; }
  100%   { opacity: 0.85; }
}
@-moz-keyframes routerblink {
  0%  { opacity: 1; }
  30%   { opacity: 1; }
  100%   { opacity: 0.85; }
}
@keyframes routerblink {
  0%  { opacity: 1; }
  30%   { opacity: 1; }
  100%   { opacity: 0.85; }
}
/* alt : fade in for 0.5, on for 2, out for 0.5, off for  */
@-webkit-keyframes alt {
  0%  { opacity: 0; }
  5%  { opacity: 1; }
  25%   { opacity: 1; }
  30%   { opacity: 0; }
  100%   { opacity: 0; }
}
@-moz-keyframes alt {
  0%  { opacity: 0; }
  5%  { opacity: 1; }
  25%   { opacity: 1; }
  30%   { opacity: 0; }
  100%   { opacity: 0; }
}
@keyframes alt {
  0%  { opacity: 0; }
  5%  { opacity: 1; }
  25%   { opacity: 1; }
  30%   { opacity: 0; }
  100%   { opacity: 0; }
}

*:focus {
	outline: none;
}
*::-moz-focus-inner {
	border: none;
}