/* q fonts */
@font-face {
    font-family: 'Qualcomm-Bold';
    src: url('fonts/QualcommWeb-Bold.eot');
    src: url('fonts/QualcommWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Bold.woff') format('woff'),
         url('fonts/QualcommWeb-Bold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Bold.svg#QualcommWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Light';
    src: url('fonts/QualcommWeb-Light.eot');
    src: url('fonts/QualcommWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Light.woff') format('woff'),
         url('fonts/QualcommWeb-Light.ttf') format('truetype'),
         url('fonts/QualcommWeb-Light.svg#QualcommWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Regular';
    src: url('fonts/QualcommWeb-Regular.eot');
    src: url('fonts/QualcommWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Regular.woff') format('woff'),
         url('fonts/QualcommWeb-Regular.ttf') format('truetype'),
         url('fonts/QualcommWeb-Regular.svg#QualcommWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Qualcomm-Semibold';
    src: url('fonts/QualcommWeb-Semibold.eot');
    src: url('fonts/QualcommWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/QualcommWeb-Semibold.woff') format('woff'),
         url('fonts/QualcommWeb-Semibold.ttf') format('truetype'),
         url('fonts/QualcommWeb-Semibold.svg#QualcommWeb-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Qualcomm-Regular", sans-serif;
}
.dial .mode,
.gain .lbl strong {
  font-family: "Qualcomm-Bold", sans serif;
}
.dial .desc {
  font-family: "Qualcomm-Light", sans-serif;
}
.dial .desc strong,
.dial .tot,
.gain .num,
.devices .control,
.dnum,
.title {
  font-family: "Qualcomm-Semibold", sans-serif;
}
.dial .desc strong,
.gain .lbl strong {
  font-weight: normal;
}
/* colors */
body {
  color: #333;
}
.dial .tot {
  color: #474747;
}
body.mu-mode .tput.su,
body.mu-mode .control.su,
body.su-mode .tput.mu,
body.su-mode .control.mu,
body.loading .tput,
body.loading .control {
  color: #999;
}
.dial.mu .mode,
body.mu-mode .devices .control.mu,
.gain .num {
  color: #92278f;
}
.dial.su .mode,
body.su-mode .devices .control.su {
  color: #f8991d;
}
.gain .lbl {
  color: #fff;
}
body.mu-mode .switches .control.mu,
body.su-mode .switches .control.su {
  color: #000;
}
.title,
.byline {
  color: #414344;
}
/* gui layout? */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background: #464646;
}
/* left column */
.left {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  /* height: 100%; */
}
/* top left dials & switches */
.dials {
  background: url(images/bg_topleft.png) repeat-x 0 0;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 22%;
}
.dial {
  float: left;
  margin: 1.5% 3.5% 0;
  position: relative;
  width: 43%;
  height: 77%;
}
.dial.su {
  float: right;
}
.dial .bg,
.dial .ring {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dial .bg {
  background: url(images/dial_mu.png) no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
}
.dial.su .bg {
  background-image: url(images/dial_su.png);
}
.dial .ring {
  background: url(images/ring_off.png) no-repeat 50% 50%;
  background-size: contain;
  z-index: 1;
}
.mu-mode .dial.mu .ring {
  background-image: url(images/ring_mu.png);
}
.su-mode .dial.su .ring {
  background-image: url(images/ring_su.png);
}
.dial .mode,
.dial .desc,
.dial .tot {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}
.dial .mode {
  font-size: 19px;
  line-height: 1;
  top: 20%;
}
.dial .desc {
  top: 35%;
}
.dial .tot {
  top: 45%;
}
.dial .tot div {
  font-size: 26px;
  line-height: 1;
  position: relative;
  top: 0.22em;
}
.dial .tot small {
  position: relative;
  top: -0.2em;
}
.dial .desc,
.dial .tot small {
  font-size: 12px;
  line-height: 1;
}
.switches {
  float: left;
  width: 100%;
}
.switches .control {
  font-size: 14px;
  line-height: 31px;
  vertical-align: middle;
}
.switch {
  background: url(images/switch.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  width: 61px;
  height: 31px;
  vertical-align: middle;
}
.switch.l {
  background-position: 0 -31px;
}
/* mu gain row */
.gain {
  background: url(images/bg_gain.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 6.4%;
}
.gain .lbl {
  position: absolute;
  left: 0;
  top: 50%;
  width: 43%;
  text-align: right;
  line-height: 1;
  margin: -0.5em 0 0;
}
.gain .num {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
  text-align: center;
  line-height: 1;
  margin: -0.5em 0 0 1em;
}
/* device tput data # rows */
.left .devices {
  display: block;
  overflow-y: auto;
  width: 100%;
  height: 55.6%; /* 100 - 6.4 - 16 - 22 */
}
.devicerow {
  background: url(images/bg_row.png) repeat-x 0 0;
  display: table;
  width: 100%;
  padding: 0.5em 0;
}
.devicerow .inner {
  display: table-row;
  width: 100%;
  height: 3em;
}
.devicerow .control,
.tput,
.dnum {
  display: table-cell;
  width: 18%;
  text-align: center;
  vertical-align: middle;
}
.devicerow .control {
  cursor: default;
  padding-left: 0;
  font-size: 15px;
}
.devicerow .control-indicator {
  margin-left: -0.5rem;
  left: 50%;
  top: 0;
}
.dnum {
  background: url(images/bg_circle.png) no-repeat 50% 50%;
  background-size: contain;
  font-size: 18px;
  text-align: center;
  width: 28%;
  height: inherit;
}
.tput {
  font-size: 17px;
}
.tput small {
  font-size: 13px;
}
/* bottom left logo */
.logo {
  background: url(images/bg_bottom.png) repeat-x 0 0;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16%;
}
.icn {
  background: url(images/icon_mu.png) no-repeat 50% 50%;
  background-size: contain;
  float: left;
  margin: 12% 2% 0 6%;
  text-indent: -999em;
  width: 20.5%;
  height: 46%;
}
.title {
  font-size: 20px;
  margin: 12% 0 0;
}
/* main right side */
.main {
  background: url(images/bg_room.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: 20%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
}
/* just single images for rough now */
.lines,
.main .devices {
  background: url(images/devices.png) no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.lines {
  background-image: none;
  z-index: 1;
}
/* static line image switch quick */
.mu-mode .lines {
  background-image: url(images/mu_lines.png);
}
.su-mode .lines {
  background-image: url(images/su_line.png);
}
.loading .lines {
  display: none;
}
/* router icon itself */
.router {
  position: relative;
  left: 44%;
  top: 0;
  margin-top: 54%;
  z-index: 5;
}
.router .bg {
  background: url(images/router_bg.png) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  position: relative;
  width: 5%;
}
.router .bg:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.loading .switch,
.loading .switches .control,
.loading .router .bg {
  cursor: wait;
}
.circle {
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86%;
  height: 86%;
  margin: -43% 0 0 -43%;
  z-index: 6;
  
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.mu-mode .circle {
  background-color: #92278f;
}
.su-mode .circle {
  background-color: #f8991d;
}
.router .icon {
  background: url(images/router.png) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
}
/* responsive tweaking */
@media screen and (min-height: 960px) {
  .dial .mode {
    font-size: 27px;
  }
  .devicerow {
    padding: 1.44em 0;
  }
  .devicerow .inner {
    height: 3.4em;
  }
  .tput {
    font-size: 24px;
  }
  .tput small {
    font-size: 14px;
  }
}
/* animations */
.dial .ring {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.dial .ring.spin {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.blink .control-indicator {
  -webkit-animation: blink 1.3s linear infinite alternate;
  -moz-animation: blink 1.3s linear infinite alternate;
  animation: blink 1.3s linear infinite alternate;
}
.d0 .blink .control-indicator {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
}
.d1 .blink .control-indicator {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}
.d2 .blink .control-indicator {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
}
.d3 .blink .control-indicator {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  animation-delay: 400ms;
}
.d4 .blink .control-indicator {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms;
}
.d5 .blink .control-indicator {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  animation-delay: 600ms;
}
/*
.mu-mode .lines,
.su-mode .lines {
  -webkit-animation: blinkeven 400ms linear infinite alternate;
  -moz-animation: blinkeven 400ms linear infinite alternate;
  animation: blinkeven 400ms linear infinite alternate;
}
*/
/* animation keyframes */
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  50% { -moz-transform: rotate(180deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }  
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
/* blink : fade in for 0.5, on for 2, out for 0.5, off for  */
@-webkit-keyframes blink {
  0%  { opacity: 1; }
  60%  { opacity: 1; }
  75%   { opacity: 0.4; }
  100%   { opacity: 0.4; }
}
@-moz-keyframes blink {
  0%  { opacity: 1; }
  60%  { opacity: 1; }
  75%   { opacity: 0.4; }
  100%   { opacity: 0.4; }
}
@keyframes blink {
  0%  { opacity: 1; }
  60%  { opacity: 1; }
  75%   { opacity: 0.4; }
  100%   { opacity: 0.4; }
}
/* blinkeven : fade evenly  */
@-webkit-keyframes blinkeven {
  0%  { opacity: 1; }
  75%  { opacity: 1; }
  100%   { opacity: 0.1; }
}
@-moz-keyframes blinkeven {
  0%  { opacity: 1; }
  75%  { opacity: 1; }
  100%   { opacity: 0.1; }
}
@keyframes blinkeven {
  0%  { opacity: 1; }
  75%  { opacity: 1; }
  100%   { opacity: 0.1; }
}

*:focus {
	outline: none;
}
*::-moz-focus-inner {
	border: none;
}